<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-right" style="min-width: 120px;">Time</th>
      <th scope="col" style="min-width: 50%;">Topic</th>
      <th scope="col">Speaker</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning">
      <td class="text-right">09:00 - 10:00</td>
      <td colspan="2">Registration</td>
    </tr>
    <tr>
      <td class="text-right">10:00 - 10:10</td>
      <td>Opening</td>
    </tr>
    <tr>
      <td class="text-right">10:10 - 11:00</td>
      <td>CHAOSS keynote</td>
      <td><a href="#glink">Georg Link, University of Omaha</a>, <a href="#rpaik">Raymond Paik, The Linux Foundation</a>, <a href="#ivancsa">Ildiko Vancsa, OpenStack Foundation</a>, <a href="#dizquierdo">Daniel Izquierdo, Bitergia</a>, <a href="#jgbarah">Jesus M. Gonzalez-Barahona, Bitergia / Uni. Rey Juan Carlos</a></td>
    </tr>
    <tr>
      <td class="text-right">11:00 - 11:15</td>
      <td>The State of GrimoireLab</td>
      <td><a href="#jsmanrique">J. Manrique López, Bitergia</a></td>
    </tr>
    <tr>
      <td class="text-right">11:15 - 11:30</td>
      <td>Consolidate metrics on open source projects hosted at OW2</td>
      <td><a href="#amontasser">Assad Montasser, OW2</a></td>
    </tr>
    <tr class="warning">
      <td class="text-right">11:30 - 11:45</td>
      <td colspan="2">Coffee break</td>
    </tr>
    <tr>
      <td class="text-right">11:45 - 12:00</td>
      <td>Using GrimoireLab for Mozilla's Community Analytics, live demo and conversation</td>
      <td><a href="#hmitsch">Henrik Mitsch, Mozilla</a></td>
    </tr>
    <tr>
      <td class="text-right">12:00 - 12:15</td>
      <td>Usage of metrics in open source communities</td>
      <td><a href="#rpaik">Raymond Paik, The Linux Foundation</a></td>
    </tr>
    <tr>
      <td class="text-right">12:15 - 12:30</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td class="text-right">12:30 - 12:45</td>
      <td>CROSSMINER: Developer-centric knowledge mining from large open source software repositories</td>
      <td><a href="#bbaldasari">Boris Baldassari, Castalia Solutions</a></td>
    </tr>
    <tr>
      <td class="text-right">12:45 - 13:00</td>
      <td>Identity merging in data from software repositories or Ecosystem health metrics</td>
      <td><a href="#econstantinou">Eleni Constantinou</a> and/or <a href="#tmens">Tom Mens, University of Mons</a></td>
    </tr>
    <tr>
      <td class="text-right">13:00 - 13:20</td>
      <td colspan="2">Lighting presentations (5 min. each, strict)</td>
    </tr>
    <tr class="warning">
      <td class="text-right">13:20 - 14:20</td>
      <td colspan="2">Lunch (on your own)</td>
    </tr>
  </tbody>
</table>

<h3>GrimoireLab Workshops <small>by Bitergia staff</small></h3>
<table class="table table-striped table-hover table-bordered">
  <thead>
      <tr class="warning">
        <th class="text-right" scope="col" style="min-width: 120px;">Time</th>
        <th scope="col">Using GrimoireLab Dashboards workshops</th>
        <th scope="col">GrimoireLab workshops for Analysts and Developers</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right">14:30 - 15:30</td>
      <td>
        <b>"I have a GrimoireLab dashboard. Now, what?"</b>, <small>Alberto Pérez</small><br/>
        Intro to GrimoireLab dashboards features
      </td>
      <td>
        <b>"Setting up GrimoireLab from scratch"</b>, <small>Jesus M. Gonzalez-Barahona</small><br/>
        Intro to GrimoireLab platform configuration (<em>Docker and Python required</em>)
      </td>
    </tr>
    <tr>
      <td class="text-right">15:30 - 16:30</td>
      <td>
        <b>"GrimoireLab visualizations and charts <abbr title="Do It Yourself">DIY</abbr> session"</b>, <small>Daniel Izquierdo</small><br/>
        How to create your own visualizations and dashboards with GrimoireLab
      </td>
      <td>
        <b>"Playing analytics on GrimoireLab data"</b>, <small>Jesus M. Gonzalez-Barahona and Alberto Perez</small><br/>
        How to analyze data produced by GrimoireLab with tools like Jupyter Notebooks (<em>Jupyter Notebooks required</em>)
      </td>
    </tr>
    <tr class="warning">
      <td class="text-right">16:30 - 16:45</td>
      <td colspan="2">Coffee break</td>
    </tr>
    <tr>
      <td class="text-right">16:45 - 17:45</td>
      <td>
        <b>"Beyond standard panels"</b>, <small>Daniel Izquierdo and David Moreno</small><br/>
        Specific use cases solved with GrimoireLab capabilities, like social network analysis
      </td>
      <td>
        <b>"Extending GrimoireLab capabilities"</b>, <small>Valerio Cosentino and Alberto Pérez</small><br/>
        How to develop custom backends or new data indexes with Python and GrimoireLab (<em>Python required</em>)
      </td>
    </tr>
    <tr>
      <td class="text-right">17:45 - 18:00</td>
      <td colspan="2">Open discussion</td>
    </tr>
  </tbody>
</table>
