<div class="row">
  <h2 class="text-center">Speakers</h2>
</div>

{% for speaker in site.data.conf_speakers %}
<div class="row" style="margin-bottom: 1em;" id="{{speaker.id}}">
  <div class="col-sm-1">
    <a href="{{speaker.link}}" target="_blank"><img src="{{speaker.image}}" alt="{{speaker.name}}" class="img-responsive"></a>
  </div>
  <div class="col-sm-11">
    <h3 style="margin-top: 0!important;">{{speaker.name}} <small>{{speaker.role}} at {{speaker.company}}</small></h3>
    {{speaker.bio}}
  </div>
</div>
{% endfor %}
